version: "3.5"

services:
    postgres:
        container_name: postgres-dev
        image: postgres
        environment:
            POSTGRES_DB: "dev-duckorm"
            POSTGRES_USER: "dev-duckorm"
            POSTGRES_PASSWORD: "postgres123"
        volumes:
            - "./data/postgres:/var/lib/postgresql/data"
        ports:
            - "5432:5432"

    app:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - .:/app
        depends_on:
            - postgres
